<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{admin/Layout-admin.html}">

<section class="row" layout:fragment="content">
    <div class="col mt-4">
        <div class="card">
            <div class="card-header">List Category</div>
            <div class="card-body">
                <!-- Thông báo -->
                <div th:if="${message != null}" class="alert alert-primary" role="alert">
                    <p th:text="${message}"></p>
                </div>
                <!-- Hệ thống báo -->
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <form th:action="@{/admin/categories/searchpaginated}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control ml-2" name="name" id="name" placeholder="Nhập từ khóa để tìm"/>
                                <button class="btn btn-outline-primary ml-2">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <a class="btn btn-outline-success" th:href="@{/admin/categories/add}">Add New Category</a>
                        </div>
                    </div>
                </div>
                <!-- Dữ liệu bảng Category -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.id}">1</td>
                        <td th:text="${category.name}">Category Name</td>
                        <td>
                            <a th:href="@{/admin/categories/edit/{id}(id=${category.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/admin/categories/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</html>
